@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Inter_18pt-Light.ttf') format('truetype');
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

h2 {
  font-size: 24pt;
  margin: 0 auto;
  text-align: center;
}

#root {
  align-items: center;
  background: url('./images/background.png') no-repeat 100% 100% / cover;
  color: #eff1f4;
  display: flex;
  flex-direction: column;
  font-family: 'Inter' , sans-serif;
  min-height: 100dvh;
  min-width: fit-content;
}

.section-planets {
  padding-top: 5rem;
}

.section-missions {
  align-items: center;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 1.5rem;
  display: flex;
  flex-flow: column;
  margin: 7rem 0;
  padding: 1.5rem 2rem 2rem;
}

.App {
  text-align: center;
}

.row-planets {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
  width: 75rem;
}

.card-planet {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.image-planet {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.name-planet {
  font-optical-sizing: none;
  font-size: 12pt;
  font-weight: 300;
  text-align: center;
}

.title-missions {
  margin-bottom: 1.5rem;
}

.grid-missions {
  display: grid;
  gap: 0.75rem;
  grid: auto-flow / repeat(2, 1fr);
  width: 60rem;
}

.card-mission {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border: 1px #eff1f4 solid;
  border-radius: 0.6rem;
  display: grid;
  grid-template-columns: 18% repeat(3, 1fr);
  grid-template-rows: repeat(3, 33.3%);
  height: 8rem;
  padding: 1rem;
}

.card-mission > :first-child {
  grid-column: span 4;
}

.card-mission > :nth-child( 2 ) {
  border-top: 1px #eff1f4 solid;
  grid-column: span 4;
  position: relative;
  right: 1rem;
  width: calc(100% + 2rem);
}

.card-mission > :nth-last-child( 2 ) {
  height: 5rem;
  width: 8rem;
}

.card-mission > :nth-last-child( -n + 3 ) {
  align-items: center;
  column-gap: 0.3rem;
  display: flex;
  font-size: 11pt;
  font-weight: 100;
}

.card-mission > :last-child {
  grid-column: span 2;
  justify-content: center;
  text-align: center;
}
